/* Sibrand van Straten */

/* Global */
body {
	font-family: "Titillium Web", sans-serif;
	overflow-x: hidden;
	background-image: url("../imgs/bg-top.jpg");
	background-size: cover;
	background-repeat: no-repeat; 
}
section .row { overflow-x: hidden; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: "Titillium Web", sans-serif; text-transform: uppercase; }
.h1 span, .h2 span, .h3 span, .h4 span, .h5 span, .h6 span, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
     color: #5ec7dc; 
}    

/* Header */
header .navbar .nav-link { text-transform: uppercase; color: #fff; }
header .navbar .nav-link:hover { color: #5ec7dc; }
header .navbar .nav-item.active .nav-link { text-transform: uppercase; color: #5ec7dc; }
header .navbar-expand-lg .navbar-nav .nav-link { padding-right: 20px; padding-left: 20px; }
header .navbar-dark .navbar-nav .nav-link { color: #fff; } 
header .navbar-expand-lg .navbar-collapse { justify-content: center; }
header .socialmedia-header a .fab {
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 1.8;
}
header .socialmedia-header a .fab:hover { color: #5ec7dc; border-color: #5ec7dc; }
header .navbar-dark .navbar-toggler { border-color: #5ec7dc; outline: none; }
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(94, 199, 220, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Homepage */

.homepage .section_row_main h1,
.homepage .section_row_main h2,
.homepage .section_row_3 h2 { color: #fff; }

/* Jumbotron Banner */
#particles-js {
	position: absolute;
	top: 50%;
	width: 100%;
	max-width: 730px;
	height: 730px;
	border-radius: 50%;
	left: 50%;
	transform: translate(-40%,-37%);
	z-index: 99;
}
.banner {
	background-image: url("../imgs/Globe_3_pink.png");
	background-repeat: no-repeat;
	height: 840px;
	background-size: 840px;
    background-position: center;
    background-color: transparent; 
}
.banner::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%,190%);
	width: 40px;
	height: 40px;
	border: solid 1px #fff;
	border-radius: 50%;
	top: 65%;
}
.banner::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%,41%);
	top: 65%;
	width: 1px;
	height: 280px;
	background-color: #fff;
}
.banner .banner-content { color: #fff; padding-top: 100px; }
.banner-intro { font-size: 1.5rem; }
.banner-intro span { color: #5ec7dc; }
.banner-middle { font-size: 5.7rem; line-height: 0.9; }
.banner .btn {
	border-radius: 14px;
	font-size: 0.85rem;
	background-color: transparent;
	color: #fff;
	padding: 6px 22px;
	margin-right: 5px;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: 0.3s ease all;
	
}
.banner .btn:hover { border: 2px solid #5ec7dc; color: #5ec7dc; }

/* Section Row Main */
.homepage .section_row_main { position: relative; color: #fff; padding: 150px 0; }
.homepage .section_row_main::after {
	content: "";
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 100px;
	background-color: #fff;
	position: absolute;
}
.homepage .section_row_main .content img { max-height: 75px; }
.homepage .section_row_main .content h1 { font-size: 4.2rem; }
.homepage .section_row_main .content h2 { font-size: 1.3rem; }
.homepage .section_row_main .content p a { color: #fff; font-weight: bold; }

/* Section Row 1 */
.homepage .section_row_1 { position: relative; padding: 240px 0; background-color: #f0f0f0; }
.homepage .section_row_1::after {
	content: "";
	left: 50%;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.homepage .section_row_1::before {
	content: "";
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.homepage .section_row_1 .container { position: relative; }
.homepage .section_row_1 .container::before {
	content: "";
	left: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: absolute;
	border-radius: 50%;
	top: -135px;
	right: 0;
	margin: -5px auto 0 auto;
	border: 1px solid #000;
}
.homepage .section_row_1 .col-md-6:first-child h2 { font-size: 3.6rem; }
.homepage .section_row_1 .col-md-6:last-child .content { max-width: 330px; }
.homepage .section_row_1 .content a { color: #000; }

/* Section Row 2 */
.homepage .section_row_2 { position: relative; padding: 200px 0; background-color: #fff; }
.homepage .section_row_2::after {
	content: "";
	left: 50%;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.homepage .section_row_2::before {
	content: "";
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.homepage .section_row_2 .container { position: relative; }
.homepage .section_row_2 .container::before {
	content: "";
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	transform: rotate(45deg) translateX(-50%);
	top: -147px;
	transform-origin: 0 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	position: absolute;
}
.homepage .section_row_2 h2 { font-size: 3.6rem; }

/* Section Row 3 */
.homepage .section_row_3 {
	padding: 200px 0;
	background-image: url("../imgs/Globe_1_purplerotated.png"), url("../imgs/bg-bottom.jpg");
	background-size: 1420px, cover;
	position: relative;
	background-position: 150% center, center bottom;
    background-repeat: no-repeat;
    color: #fff;
}
.homepage .section_row_3::after {
	content: "";
	left: 50%;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #fff;
	position: absolute;
}
.homepage .section_row_3 .container { position: relative; }
.homepage .section_row_3 .container::before {
	content: "";
	left: 0;
	width: 60px;
	height: 60px;
	background-color: transparent;
	position: absolute;
	top: -95px;
	right: 0;
	margin: -5px auto 0 auto;
	border: 1px solid #fff;
}
.homepage .section_row_3 .content { max-width: 340px; }
.homepage .section_row_3 h2 { font-size: 3.6rem; }
.homepage .section_row_3 strong a { color: #fff; }

/* Followup */
.followup .jumbotron {
	background-image: url("../imgs/Globe_1_pinkrotated.png");
	background-repeat: no-repeat;
	height: 330px;
	background-size: 750px;
	background-position: 50% 0%;
	background-color: transparent;
}
.followup .jumbotron  { position: relative; color: #fff; }
.followup .jumbotron .jumbo-title { font-size: 4.2rem; }
.followup .jumbotron::after {
	content: "";
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 100px;
	background-color: #fff;
	position: absolute;
}

/* Followup Section Row Main */
.followup .section_row_main { position: relative; padding: 200px 0; background-color: #fff; }
.followup .section_row_main::after {
	content: "";
	left: 50%;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.followup .section_row_main::before {
	content: "";
	left: 50%;
	bottom: 0;
	width: 1px;
	height: 100px;
	background-color: #000;
	position: absolute;
}
.followup .section_row_main .container { position: relative; }
.followup .section_row_main .container::before {
	content: "";
	left: 0;
	width: 40px;
	height: 40px;
	background-color: transparent;
	position: absolute;
	border-radius: 50%;
	top: -95px;
	right: 0;
	margin: -5px auto 0 auto;
	border: 1px solid #000;
}
.followup .section_row_main h2,
.followup .section_row_1 h2 { font-size: 3.6rem; }

/* Followup Section Row 1 */
.followup .section_row_1 { position: relative; padding: 200px 0; color: #fff; }
.followup .section_row_1::after {
	content: "";
	left: 50%;
	top: 0;
	width: 1px;
	height: 100px;
	background-color: #fff;
	position: absolute;
}
.followup .section_row_1 .container { position: relative; }
.followup .section_row_1 .container::before {
	content: "";
	left: 0;
	width: 60px;
	height: 60px;
	background-color: transparent;
	position: absolute;
	top: -95px;
	right: 0;
	margin: -5px auto 0 auto;
	border: 1px solid #fff;
}

/* About Us */

/* Footer */
footer { background-color: #fff; }
footer .footer_section_main { text-align: center; }
footer .footer_section_main .row { justify-content: center; }
footer .footer_section_main figure { display: inline-block; padding: 5px; }
footer .footer_section_main figure img { height: 50px; }

@media (max-width: 1199px) { 
	header .navbar-expand-lg .navbar-nav .nav-link { padding: 0 7px; }
}

@media (max-width: 991px) {  
	.socialmedia-header { width: 100%; }
	.homepage .section_row_1 .col-md-6:first-child h2,
	.homepage .section_row_2 h2,
	.homepage .section_row_3 h2 { font-size: 2.5rem; }
	#particles-js {
		position: fixed;
		left: 0;
		top: 0;
		max-width: none;
		height: 100vh;
		transform: none;
		pointer-events: none;
		z-index: -1;
	}
}

@media (max-width: 768px) { 

 }

@media (max-width: 576px) { 
	.banner-middle { font-size: 3.6rem; }
	.homepage .section_row_main .content h1 { font-size: 2.9rem; }
	.homepage .section_row_1 .col-md-6:first-child h2,
	.homepage .section_row_2 h2,
	.homepage .section_row_3 h2 { font-size: 2rem; }
}




